<?xml version="1.0"?>
<ruleset>
  <arg name="colors"/>
  <arg value="sp"/>

  <rule ref="Syde-Extra"/>

  <!-- PSR-4 namespace configuration -->
  <rule ref="SlevomatCodingStandard.Files.TypeNameMatchesFileName">
    <properties>
      <property name="rootNamespaces" type="array">
        <element key="src" value="MediaWiki\Extension\InstantIIIF"/>
        <element key="tests/phpunit" value="MediaWiki\Extension\InstantIIIF\Tests"/>
      </property>
    </properties>
  </rule>

  <file>./src</file>
  <file>./tests</file>

  <exclude-pattern>*/vendor/*</exclude-pattern>
  <exclude-pattern>.phpstan/stubs/*</exclude-pattern>

  <config name="testVersion" value="8.2-"/>
  <config name="text_domain" value="instantiiif"/>
</ruleset>
