name: 'PHP Quality Assurance'
on:
  pull_request:
    paths:
      - '**.php'
      - 'composer.*'
      - 'phpcs.*'
      - 'phpstan.*'
jobs:
  lint-php:
    uses: inpsyde/reusable-workflows/.github/workflows/lint-php.yml@main
    strategy:
      matrix:
        php:
          - '8.4'
    with:
      PHP_VERSION: '${{ matrix.php }}'
  coding-standards-php:
    uses: inpsyde/reusable-workflows/.github/workflows/coding-standards-php.yml@main
    secrets:
      COMPOSER_AUTH_JSON: '${{secrets.PACKAGIST_AUTH_JSON}}'
    with:
      PHP_VERSION: '8.4'
  static-analysis-php:
    uses: inpsyde/reusable-workflows/.github/workflows/static-analysis-php.yml@main
    secrets:
      COMPOSER_AUTH_JSON: '${{secrets.PACKAGIST_AUTH_JSON}}'
    with:
      PHP_VERSION: '8.4'
